.handle {
  position: fixed;
  top: 50%;
  right: 0;
  height: max-content;
  width: 75px;
  transform: translateY(-50%);
  border-radius: 10px;
}

.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  right: 10px;
  width: 100px;
}
