.blinking-cursor {
  display: inline-block;
  width: 5px;
  height: 20px;
  background-color: white;
  animation: blink 0.5s step-end infinite;
}

.img-fluid {
  filter: drop-shadow(5px 5px 2px 2px black);
  border-radius: 50%;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: white;
  }
}
