.col > .card {
  height: auto;
  width: auto;
  border: solid white;
  transition-duration: 0.4s;
}

.col > .card:hover {
  /* box-shadow:  rgb(0, 0, 0); */
  box-shadow: 0px 0px 10px 12px rgba(8, 0, 0, 0.5);
}

.card-img-top {
  width: 100px;
  height: 100px;
  border: 0;
}

#skill-card-img {
  box-shadow: none;
}
