.col > .card {
  height: auto;
  width: auto;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: transform 1s ease-in-out;
}

.col > .card:hover {
  box-shadow: 0px 0px 10px 10px rgba(8, 0, 0, 0.5);
}

.card-img-top {
  width: 100px;
  height: 100px;
  border: 0;
}

#skill-card-img {
  box-shadow: none;
}
